*{box-sizing: border-box;}

body {
	background: rgba(207, 226, 243, 1);
	font-size: 0.85em;
	margin: 0;
	padding: 17px 2% 2% 2%;	
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(57,57,57, .6);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .6);
}

.comments {
	height: 105px;
	list-style-type: none;
	margin: 0;
	overflow-y: auto;
	padding: 0;
}

.comments strong {
	font-size: 0.95em;
}

.form {
	border: 1px solid;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	left: 0;
	margin: 1% 2%;
	padding: 0;
	position: fixed;
	width: 96%;
}

.label {
	font-size: 0.95em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.msg {
	background: transparent;
	border: none;
	flex-basis: 80px;
	margin: 0;
	padding: 0;
	width: 130px;
}

.msg:focus, .msg:active {
	outline: unset;
}

.submit {
	background: transparent;
	border: none;
	color: red;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.submit:hover {
	cursor: pointer;
}